<div [ngClass]="'relative'">
    <div [ngClass]="'chart'">
        <canvas id="GroupsChart"></canvas>
    </div>
    <div [ngClass]="'chart-info'">
        <h4 [ngClass]="'chart-label'"> TOTAL </h4>
        <p [ngClass]="'chart-amount'"> {{formatCurrency(current_number)}} </p>
    </div>
</div>
<div [ngClass]="'buttons'">
    <button [ngClass]="'category'" (click)="changeToBudgeted()"> Budgeted </button>
    <button [ngClass]="'category'" (click)="changeToReceived()"> Used </button>
    <button [ngClass]="'category'" (click)="changeToAvailable()"> Available </button>
</div>
<div [ngClass]="'groups'">
    <div *ngFor="let group of groups" [ngClass]="'group'">
        <p [ngClass]="'group-title'">{{group.title}}</p>
        <div *ngIf="budgeted" [ngClass]="'group-numbers'">
            <p [ngClass]="'group-total'">{{formatCurrency(group.total_budgeted)}}</p>
            <p [ngClass]="'group-percentage'"> {{
                createPercentage(group.total_budgeted, whole_budgeted)
                }} </p>
        </div>
        <div *ngIf="received" [ngClass]="'group-numbers'">
            <p [ngClass]="'group-total'">{{formatCurrency(group.total_received)}}</p>
            <p [ngClass]="'group-percentage'"> {{
                createPercentage(group.total_received, whole_received)
                }} </p>
        </div>
        <div *ngIf="available" [ngClass]="'group-numbers'">
            <p [ngClass]="'group-total'">{{formatCurrency(group.total_budgeted + group.total_received)}}</p>
            <p [ngClass]="'group-percentage'">{{
                createPercentage(group.total_received + group.total_budgeted, whole_available)
                }} </p>
        </div>
    </div>
</div>
