.name {
    font-family: 'Sofia Pro Light';
    font-size: 15px;
    text-decoration: none;
    color: black;
    line-height: 42px;
}

.balance {
    font-family: 'Sofia Pro Light';
    margin: 10px 5px 10px auto;
}

.account {
    display: flex;
    flex-direction: row;
    justify-items: center;
}