.name {
    font-family: 'Proxima Nova Medium';
    font-size: 15px;
    text-decoration: none;
    color: black;
    line-height: 42px;
}

.balance {
    font-family: 'Proxima Nova Medium';
    margin: auto;
    margin-right: 5px;
}

.account {
    display: flex;
    flex-direction: row;
    justify-items: center;
}