.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
    padding: 5px 10px;
    transition: background-color .1s;
    border-radius: .2rem;
}

.account:hover {
    background-color: #e8eaf0;
}

.account-info {
    display: flex;
    flex-direction: column;
}

.account-type {
    font-family: 'Proxima Nova Regular';
    color: #999eaa;
    margin: 0;
    font-size: 12px;
}

.account-name {
    font-family: 'Proxima Nova Regular';
    margin: 0;
    margin-bottom: 2px;
    font-size: 17px;
}

.account-balance {
    font-family: 'Proxima Nova Medium';
    margin: auto;
    margin-right: 10px;
}