<div [ngClass]="'gray-background'">
    <div [ngClass]="'delete-info'" *ngIf="deletingItem">
        <p> Hello</p>
    </div>
    <div [ngClass]="'budget-header'">
        <div [ngClass]="'budget-header-summary'">
            <p [ngClass]="'budget-month'"> {{current_month}}</p>
            <p [ngClass]="'budget-year'"> {{current_year}}</p>
        </div>
        <div [ngClass]="'budget-header-summary-2'">
            <p [ngClass]="'budget-header-money'"> {{'$' + total_budget}} </p>
            <p *ngIf="sign; else showOpposite" [ngClass]="'budget-header-amount'"> Over Budget </p>
            <ng-template #showOpposite>
                <p [ngClass]="'budget-header-amount'"> Under Budget </p>
            </ng-template>
        </div>
    </div>
    <div [ngClass]="'budget-info'">
        <div [ngClass]="'list'">
            <app-group (addGroupItem)="addItem($event)" (valueBubble)="updateBudgetInfo($event)" (deleteBubble)="deleteItem($event)"
            *ngFor="let group of groups; let i = index" [group]="group" [ngClass]="'group'" [groupIndex]="i">
            </app-group>
            <div *ngIf="!addingGroup" [ngClass]="'group-box'">
                <p [ngClass]="'add-group'" (click)="addingGroup = !addingGroup"> Add Group</p>
            </div>
            <div *ngIf="addingGroup" [ngClass]="'group-box'">
                <div [ngClass]="'group-info'">
                    <input [ngClass]="'item-name'" value="Default" (blur)="collectGroupName($event)">
                    <p [ngClass]="'group-amount'">Budgeted</p>
                    <p [ngClass]="'group-amount'">Received</p>
                    <p [ngClass]="'group-amount'">Available</p>
                </div>
                <p [ngClass]="'add-group2'" (click)="addGroup()"> Confirm</p>
            </div>
        </div>
        <app-budget-info [ngClass]="'info'" [groups]="groups"></app-budget-info>
    </div>
</div>