.links {
    width: 260px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 10px 15px -22px black;
    height: 100%;
    position: relative;
    z-index: 1;
}
.links-group {
    display: flex;
    flex-direction: column;
    margin: 25px 20px 10px 30px;
}

.link {
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    line-height: 24px;
}

.account {
    margin: auto;
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.title {
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    margin: auto;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pic {
    font-size: 23px;
    width: 27.5px;
    height: 24px;
    color: black;
}

.dashboard-link {
    border-radius: 5px;
    width: 150px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-decoration: none;
}

.dashboard-link:hover {
    background-color: lightgray;
}