<div [ngClass]="'gray-bkgr'">
    <div [ngClass]="'login-form'">
        <h4 [ngClass]="'login-title'">Login</h4>
        <form>
            <label [ngClass]="'login-label'">Username</label><br>
            <input (change)="collectUsername($event)" [ngClass]="'login-input'"><br>
            <label [ngClass]="'login-label'">Password</label><br>
            <input type="password" (change)="collectPassword($event)" [ngClass]="'login-input'"><br>
        </form>
        <button (click)="login()"[ngClass]="'login-button'"> Login </button>
        <a [ngClass]="'login-link'" routerLink="/authentication/register" routerLinkActive="">
        Register
        </a>
    </div>
</div>
