.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 14.25%);
    grid-template-rows: repeat(5, 17%);
    max-width: 340px;
    margin: 0px auto;
    justify-items: center;
    margin-bottom: 30px;
}

.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 14.25%);
    margin: 0px auto;
    max-width: 340px;
}

.calendar-header-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 15px 10px 10px;
}

.calendar-elem {
    display: flex;
    font-family: Proxima Nova;
    border-radius: 50px;
    margin: 5px 0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 10px;
    font-size: 14px;
    height: 20px;
    width: 20px;
}

.calendar-elem:hover {
    background: #1a73e8;
    color: white;
}

.calendar-weekday {
    margin: 0px auto;
    font-family: 'Proxima Nova Light';
    color: #b7bac1;
}

.calendar-month {
    font-family: 'Proxima Nova Light';
    font-size: 24px;
    margin: 5px 5px 5px 5px;
}

.see-all {
    font-size: 26px;
    align-self: center;
    margin: 5px 10px;
    margin-left: auto;
}