.border-line {
    border-bottom: 1px solid #b6bec2;
    margin: 0px 24px;
}

.item-dropdown {
    pointer-events: auto;
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    border-radius: 5px;
    width: 14%;
    margin: 0 1% 0 0;
}

.category-dropdown {
    width: 19%;
    margin: 0 1% 0 0;
    pointer-events: auto;
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    border-radius: 5px;
}
.item {
    height: 30px;
    display: flex;
    padding: 8px 0px;
    margin: 0px 24px;
    pointer-events: none;
}

.item-background {
    pointer-events: none;
}

.item-background:hover {
    background-color: #0091d946;
}

.item-account {
    width: 13%;
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px .5%;
    pointer-events: auto;
    line-height: 30px;
    margin: 0 1% 0 0;
    background-color: white;
}

.item-input {
    width: 13%;
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 1%;
    padding: 0px .5%;
    pointer-events: auto;
}

.item-input:hover {
    background-color: #f5f7f8;
}

.item-input:focus {
    border: 1px solid #0091d9;
    color: #0091d9;
}

.item-description {
    width: 18%;
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    padding: 0px .5%;
    margin-right: 1%;
    border: none;
    border-radius: 5px;
    outline: none;
    pointer-events: auto;
}

.item-description:hover {
    background-color: #f5f7f8;
}

.item-description:focus {
    border: 1px solid #0091d9;
    color: #0091d9;
}

.item-category {
    pointer-events: auto;
    width: 18%;
    font-family: 'Proxima Nova Medium';
    font-size: 18px;
    padding: 0px .5%;
    margin-right: 1%;
    border: none;
    border-radius: 5px;
    outline: none;
}

.item-category:hover {
    background-color: #f5f7f8;
}

.item-category:focus {
    border: 1px solid #0091d9;
    color: #0091d9;
}

.new-item-buttons {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 24px;
    padding: 0px 10px 8px 0px;
    pointer-events: auto;
}

.new-item-button {
    font-family: 'Proxima Nova SemiBold';
    font-size: 16px;
    color: white;
    background-color: rgb(0, 156, 194);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.new-item-button:hover {
    background-color: rgb(1, 110, 138);
}