<div *ngIf="!changingValue" [ngClass]="'item-background'" (click)="changeStyle()">
    <div [ngClass]="'item'">
        <input *ngIf="!filtered"  [ngClass]="'item-input'" value={{item.account}} (change)="collectAccount($event)">
        <p *ngIf="filtered"  [ngClass]="'item-account'">{{item.account}}</p>
        <input [ngClass]="'item-input'" value={{date_string}} (change)="collectDate($event)">
        <input [ngClass]="'item-category'" value={{item.category}} (change)="collectCategory($event)">
        <input [ngClass]="'item-description'" value={{item.description}} (change)="collectDescription($event)">
        <input [ngClass]="'item-input'" value={{formatMoney(outflow)}} (change)="collectOutflow($event)">
        <input [ngClass]="'item-input'" value={{formatMoney(inflow)}} (change)="collectInflow($event)">
    </div>
    <div [ngClass]="'border-line'" [ngStyle]="{'border-bottom': line}"></div>
</div>
<div *ngIf="changingValue" [ngClass]="'item-background'" [ngStyle]="{'background-color': background}">
    <div [ngClass]="'item'">
        <select (change)="collectAccount($event)" *ngIf="!filtered" [ngClass]="'item-dropdown'">
            <option label="Default" [value]="'default'">Default</option>
            <option *ngFor="let account of accountNames; let i = index" [value]="i + ' ' + account">{{account}}</option>
        </select>
        <p *ngIf="filtered"  [ngClass]="'item-account'">{{item.account}}</p>
        <input [ngClass]="'item-input'" value={{date_string}} (change)="collectDate($event)">
        <select [ngClass]="'category-dropdown'" (change)="collectCategory($event)">
            <option label="Default" [value]="'default'">Default</option>
            <optgroup *ngFor="let group of budgetNames;let i = index" label="{{group.title}}">
                <option *ngFor="let item of group.items; let in = index" label="{{item}}" [value]="in + ',' + i + ' '+ item">{{item}}</option>
            </optgroup>
        </select>
        <input [ngClass]="'item-description'" value={{item.description}} (change)="collectDescription($event)">
        <input [ngClass]="'item-input'" value={{outflow}} (change)="collectOutflow($event)">
        <input [ngClass]="'item-input'" value={{inflow}} (change)="collectInflow($event)">
    </div>
    <div [ngClass]="'new-item-buttons'">
        <button [ngClass]="'new-item-button'" (click)="confirmChanges()"> Save </button>
        <button [ngClass]="'new-item-button'" (click)="cancelChange()"> Cancel </button>
    </div>
</div>