.accounts-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: auto 0px;
    overflow-y: auto;
    max-height: 220px;
}

.cursor-icon {
    width: 60px;
    height: 100px;
    margin: auto;
    cursor: pointer;
}