.accounts-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cursor-icon {
    width: 60px;
    height: 100px;
    margin: auto;
    cursor: pointer;
}