<div [ngClass]="'calendar-header-info'">
    <h4 [ngClass]="'calendar-month'">{{ month_string }}</h4>
    <h4 [ngClass]="'calendar-month'">{{ current_year }}</h4>
    <h4 [ngClass]="'see-all'"> + </h4>
</div>
<div [ngClass]="'calendar-header'">
    <h4 [ngClass]="'calendar-weekday'"> Sun </h4>
    <h4 [ngClass]="'calendar-weekday'"> Mon </h4>
    <h4 [ngClass]="'calendar-weekday'"> Tues </h4>
    <h4 [ngClass]="'calendar-weekday'"> Wed </h4>
    <h4 [ngClass]="'calendar-weekday'"> Thus </h4>
    <h4 [ngClass]="'calendar-weekday'"> Fri </h4>
    <h4 [ngClass]="'calendar-weekday'"> Sat </h4>
</div>
<div *ngIf="moreThan5rows" [ngClass]="'calendar-grid-alt'">
    <p *ngFor="let num of blankfront">{{' '}}</p>
    <p *ngFor="let num of monthdays" [ngClass]="'calendar-elem'"> {{num}} </p>
    <p *ngFor="let num of blankback">{{' '}}</p>
</div>
<div *ngIf="!moreThan5rows" [ngClass]="'calendar-grid'">
    <p *ngFor="let num of blankfront">{{' '}}</p>
    <p *ngFor="let num of monthdays" [ngClass]="'calendar-elem'"> {{num}} </p>
    <p *ngFor="let num of blankback">{{' '}}</p>
</div>