<div [ngClass]="'gray-background'">
    <div [ngClass]="'transactions-header'">
        <h4 [ngClass]="'transactions-title'"> {{name}} Transactions </h4>
        <div [ngClass]="'transactions-availablebalance'">
            <p [ngClass]="'transactions-total'"> {{formatMoney(total_balance)}}</p>
            <p [ngClass]="'transactions-available'"> Available Total Balance </p>
        </div>
    </div>
    <div [ngClass]="'transactions-list-actions'">
        <p (click)="addingTransaction = !addingTransaction" [ngClass]="'action-button'"> Add Transaction </p>
        <p [ngClass]="'action-button'"> Filter </p>
        <input [ngClass]="'action-search'" placeholder="Search">
    </div>
    <div [ngClass]="'transactions-list'">
        <div [ngClass]="'transactions-list-header'">
            <p [ngClass]="'list-account'"> Account </p>
            <p [ngClass]="'list-account'"> Date </p>
            <p [ngClass]="'list-category'"> Category </p>
            <p [ngClass]="'list-description'"> Description </p>
            <p [ngClass]="'list-account'"> Outflow </p>
            <p [ngClass]="'list-account'"> Inflow </p>
        </div>
        <div *ngIf="addingTransaction" [ngClass]="'new-item-full'">
            <div [ngClass]="'new-item'">
                <select (change)="collectAccount($event)" *ngIf="!filtered" [ngClass]="'new-item-dropdown'">
                    <option *ngFor="let account of accountNames; let i = index" [value]="i + ' ' + account">{{account}}</option>
                </select>
                <input [ngClass]="'item-input'" value='06/20/01' (change)="collectDate($event)">
                <select [ngClass]="'new-category-dropdown'" (change)="collectCategory($event)">
                    <optgroup *ngFor="let group of budgetNames;let i = index" label="{{group.title}}">
                        <option *ngFor="let item of group.items; let in = index" label="{{item}}" [value]="in + ',' + i + ' '+ item">{{item}}</option>
                    </optgroup>
                </select>
                <input [ngClass]="'item-description'" value='Description' (change)="collectDescription($event)">
                <input [ngClass]="'item-input'" value='0.00' (change)="collectOutflow($event)">
                <input [ngClass]="'item-input'" value='0.00' (change)="collectInflow($event)">
            </div>
            <div [ngClass]="'new-item-buttons'">
                <button [ngClass]="'new-item-button'" (click)="addNewTransaction()"> Save </button>
                <button [ngClass]="'new-item-button'" (click)="addingTransaction = !addingTransaction"> Cancel </button>
            </div>
        </div>
        <app-transaction-item *ngFor="let item of filtered_transactions; let i = index" [item]="item" [index]="i" [filtered]="filtered" (sendTransaction)="changeTransaction($event)">
        </app-transaction-item>
        <p (click)="addingTransaction = !addingTransaction" [ngClass]="'action-button'" [ngStyle]="{'padding-left': '24px'}"> Add Transaction </p>
    </div>
</div>