<h4 [ngClass]="'list-name'"> Budget </h4>
<div [ngClass]="'relative'">
    <div [ngClass]="'chart'">
        <canvas id="BudgetChart"></canvas>
    </div>
    <div [ngClass]="'chart-info'">
        <h4 [ngClass]="'budget-amount'"> {{formatMoney(budgeted)}} </h4>
        <p [ngClass]="'budget-label'"> Budgeted </p>
    </div>
</div>
<div [ngClass]="'budget-info'">
    <div [ngClass]="'budget-cluster'">
        <p [ngClass]="'budget-elem'"> {{formatMoney(available)}} </p>
        <p [ngClass]="'budget-label'"> Available </p>
    </div>
    <div [ngClass]="'budget-cluster'">
        <p [ngClass]="'budget-elem'"> {{formatMoney(received)}} </p>
        <p [ngClass]="'budget-label'"> Used </p>
    </div>
</div>