.budget-info {
    display: flex;
    flex-direction: row;
}

.budget-elem {
    font-family: 'Proxima Nova Regular';
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0px;
}

.budget-amount {
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.budget-label {
    margin: 0px;
    font-family: 'Proxima Nova Medium';
    font-size: 14px;
    color: #a5a9b3;
    text-align: center;
}

.budget-cluster {
    margin: auto;
}

.chart {
    height: 170px;
    width: 340px;
    margin: auto;
}

.chart-info {
    position: absolute;
    top: 35%;
    width: 100%;
}

.relative {
    position: relative;
    height: 180px;
}