/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('assets/fonts/SofiaProRegular.otf');
}
@font-face {
    font-family: 'Sofia Pro Medium';
    src: url('assets/fonts/SofiaProMedium.otf');
}
@font-face {
    font-family: 'Sofia Pro Light';
    src: url('assets/fonts/SofiaProLight.otf');
}