/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('assets/fonts/SofiaProRegular.otf');
}
@font-face {
    font-family: 'Sofia Pro Medium';
    src: url('assets/fonts/SofiaProMedium.otf');
}
@font-face {
    font-family: 'Sofia Pro Light';
    src: url('assets/fonts/SofiaProLight.otf');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('assets/fonts/proxima-nova-light-webfont.ttf');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('assets/fonts/proxima-nova-regular-webfont.ttf');
}

@font-face {
    font-family: 'Proxima Nova Medium';
    src: url('assets/fonts/ProximaNova-Medium.ttf');
}

@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url('assets/fonts/proxima-nova-semibold-webfont.ttf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('assets/fonts/proxima-nova-bold-webfont.ttf');
}

.item-image {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
}

.item-icon {
    font-size: 22px;
    color: white;
}
.item-name {
    font-family: 'Proxima Nova Medium';
    margin: 0;
    font-size: 16px;
    color: #4b525a;
}
.item-cost {
    margin: auto;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Proxima Nova Medium';
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-all {
    margin: auto;
    margin-right: 20px;
    font-family: 'Sofia Pro Light';
}

.list-name {
    font-family: 'Proxima Nova Regular';
    font-size: 24px;
    margin: 20px;
    margin-bottom: 10px;
}

.graph-title {
    font-family: 'Proxima Nova Regular';
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.page-title {
    font-family: 'Sofia Pro Light';
    font-size: 32px;
    margin: 25px 40px 0px 40px;
}

.gray-background {
    background-color: #f4f7fc;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 260px;
    height: 100%;
    width: fill;
}

.white-box {
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 15px -22px rgba(0,0,0,0.75);
}