<div *ngIf="!changingValue"  [ngClass]="'item-background'" (click)="changeStyle()">
    <div [ngClass]="'group-item'">
        <input [ngClass]="'group-name'" value={{item.name}}>
        <input [ngClass]="'group-amount'" value={{formatMoney(item.budgeted)}}>
        <input [ngClass]="'group-amount'" value={{formatMoney(item.received)}}>
        <p id="available" [ngClass]="'group-amount'" [ngStyle]="{'color': color}">{{formatMoney(available)}}</p>
    </div>
    <div [ngClass]="'border-line'"></div>
</div>
<div *ngIf="changingValue"  [ngClass]="'item-background'" [ngStyle]="{'background-color': background}">
    <div [ngClass]="'group-item'">
        <input [ngClass]="'group-name'" value="{{item.name}}" (change)="collectName($event)">
        <input (change)="collectBudgeted($event)" [ngClass]="'group-amount'" value={{item.budgeted}}>
        <p [ngClass]="'group-amount'">{{formatMoney(item.received)}}</p>
        <p id="available" [ngClass]="'group-amount'" [ngStyle]="{'color': color}">{{formatMoney(available)}}</p>
    </div>
    <div [ngClass]="'new-item-buttons'">
        <div *ngIf="!deletingItem">
            <button [ngClass]="'new-item-button'" (click)="deletingItem = !deletingItem"> Delete </button>
            <button [ngClass]="'new-item-button'" (click)="sendChangedItem()"> Save </button>
            <button [ngClass]="'new-item-button'" (click)="cancelChanges()"> Cancel </button>
        </div>
        <div *ngIf="deletingItem" [ngClass]="'delete-buttons'">
            <p [ngClass]="'delete-phrase'"> Are you sure? </p>
            <button [ngClass]="'new-item-button'" (click)="confirmDelete()"> Yes </button>
            <button [ngClass]="'new-item-button'" (click)="deletingItem = !deletingItem"> No </button>
        </div>
    </div>
</div>