<div *ngIf="!changingValue"  [ngClass]="'item-background'" (click)="changeStyle()">
    <div [ngClass]="'group-item'">
        <input [ngClass]="'group-name'" value={{item.name}}>
        <input (blur)="sendValue($event)" [ngClass]="'group-amount'" value={{formatMoney(item.budgeted)}}>
        <input (blur)="sendValue($event)" [ngClass]="'group-amount'" value={{formatMoney(item.received)}}>
        <p id="available" [ngClass]="'group-amount'" [ngStyle]="{'color': color}">{{formatMoney(available)}}</p>
    </div>
    <div [ngClass]="'border-line'"></div>
</div>
<div *ngIf="changingValue"  [ngClass]="'item-background'" [ngStyle]="{'background-color': background}">
    <div [ngClass]="'group-item'">
        <input [ngClass]="'group-name'" value="{{item.name}}" (change)="collectName($event)">
        <input (change)="collectBudgeted($event)" [ngClass]="'group-amount'" value={{item.budgeted}}>
        <p [ngClass]="'group-amount'">{{formatMoney(item.received)}}</p>
        <p id="available" [ngClass]="'group-amount'" [ngStyle]="{'color': color}">{{formatMoney(available)}}</p>
    </div>
    <div [ngClass]="'new-item-buttons'">
        <button [ngClass]="'new-item-button'" (click)="sendValue($event)"> Save </button>
        <button [ngClass]="'new-item-button'" (click)="cancelChanges()"> Cancel </button>
    </div>
</div>